<h1>URL Shortener</h1>

<p>Input URL link to shorten.</p>

<form action="/urls" method="post">
    Enter URL: 
    <input type ="text" name="input">
    <input type="submit" value="Submit">
 </form>
 	
<% if @url && @url.errors.any? %>

	<h2> Errors in Input </h2>
	<ul>
		<% @url.errors.full_messages.each do |x| %>
			<li><%= x %></li>
		<% end %>
	</ul>
<% end %>

 <p> list of current URLs shortened </p>
 <% @list.each do |x| %> <!-- Or whatever variable you would like to pass -->
    <p>Original Url: <a href="<%= x[0] %>"><%= x[0] %></a></p>
    <p>Short Url: <a href="<%= x[1]%>">http://127.0.0.1:9393/<%= x[1]%></a></p>
    <p>Click Count: <%= x[2]%></p>
 <% end %>
